################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SignalR-Beginners/.vs/SignalRChat.Beginner1.0/v15/Server/sqlite3/db.lock
